<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OwlChat</title>
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
    <main class="main">
       <div class="main-header">
            <h1 id="header-text">Welcome to OwlChat</h1>
            <p id="sub-text">Enter a username to join the Chat</p>
            <div class="form">
                <input type="text" id="input" placeholder="Username"/>
                <button type="submit" onclick="signIn()" id="button">Join</button>
            </div>
       </div>

        <div class="images">
            <div class="bg1">
                <img 
                src="../static/img/bg4.png" 
                alt="" 
                width="200px" 
                height="200px" />
            </div> 
    
            <div class="bg2">
                <img 
                src="../static/img/bg2.png" 
                alt="" 
                width="200px" 
                height="200px" />
            </div>
    
            <div class="bg3">
                <img 
                src="../static/img/bg3.png" 
                alt="" 
                width="200px" 
                height="200px" />
            </div>
    
            <div class="bg4">
                <img 
                src="../static/img/bg5.png" 
                alt="" 
                width="200px" 
                height="200px" />
            </div>
        </div>
    
    </main>
</body>
<script src="/static/js/index.js"></script>
</html>