<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OwlChat</title>
    <link rel="stylesheet" href="/static/index.css" />
</head>
<body>
    <main class="main">
        <h1 id="header-text">Welcome to OwlChat</h1>
        <p id="sub-text">Enter a username to join the Chat</p>
        <input type="text" id="input" placeholder="Username"/>
        <button type="submit" onclick="signIn()" id="button">Join</button>
    </main>
</body>
<script src="/static/index.js"></script>
</html>